body{
  background-color: #f1f6f9;
}
.App{
  background-color: #394867;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
  padding: 20px;
}
#todo-form input{
  background-color: white;
  border: 0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  border-radius: 10px;
  color: black;
}

h1{
  color: white;
  font-size: 60px;
  text-align: center;
  margin-top: 40px;
}

#todo-form input::placeholder{
  color: black;
}

#todo-form input:focus,#todo-form button:focus{
  outline: none;
}

#todo-form button{
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color: #16a596;
  cursor: pointer;
  font-weight: bolder;
  color: white;
  font-size: 16px;
}